---
title: Get in touch
Image: 'http://colect.io/files/visuals/_bg/contactpage.jpg'
---

{% include header.html %}
<main class="">

	<section class="home-hero" style="background: url('{{ page.Image}}') center center no-repeat ; -webkit-background-size: cover; background-size: cover;filter: grayscale(100%);
">
                <div class="hero-content block">
                    <div class="grid-wrap">
                    	<div class="half" style="text-align: left;">-</div>
                        <div class="half" style="text-align: right;">
                        <h1 class="hero-title c-light">{{page.title}}</h1>
                        <p class="hero-text c-light">The latest news in the digital wholesale revolution</p>
                    </div>
                    </div><!-- /.grid-wrap -->
                </div><!-- /.hero-content -->
</section>

			
		


	
<section class="block bg-light  ">
	<div class="grid-wrap">
		<h1 class="section-title align-center"></h1>

		<div class="content intro">
			If you have any questions about our company or business process we would love to hear from you! <br />
<br />
Please fill out this form and we will get in touch with you shortly.<br />



			<div class="clear"></div>
			

		</div>

	</div><!-- /.grid-wrap -->
</section>

<!-- Content unit -->

 

 



 
	<!-- Contact unit -->
<section class="block bg-white contact  content">
	<div class="grid-wrap ">

		<h1 class="section-title margin-b align-center"></h1>

		<div class="grid-row">
			<div class="third">
				
				<strong>Apptitude B.V.</strong><br />
Schoutenbosje 5<br />
1251 LE Laren<br />
The Netherlands
				<div class="row-spacer-half"></div>
				
			</div>

			<div class="third">
				
				<strong>Contact</strong><br />
Email: info@apptitude.nl<br />
Tel: +31 35 53346 80
				<div class="row-spacer-half"></div>
				
			</div>

			<div class="third">
				
				<strong>Info</strong><br />
KVK Hilversum: 32168888<br />
VAT No.: NL822140044B02&nbsp;
				<div class="row-spacer-half"></div>
				
			</div>

		</div><!-- /.grid-row -->


	
		<form action="../index-ACT=159.html" accept-charset="utf-8" novalidate="novalidate" class="" method="post"><div style="display:none">
<input type="hidden" name="params_id" value="2243046" />
<input type="hidden" name="csrf_token" value="f7e6f67d1b6ef59010ea3d7172440c4dc4ed6fd2" />
</div><a href="#" id="bedankt"></a>

			
			 

			<input type="hidden" name="form_title" value="Colect: Contact us - " />
			<input type="hidden" name="form_url" value="http://colect.io/apps4fashion/contact" />

			<div class="grid-row ">
				<div class="full">

					<div class="bedankt margin-b">
						Your inquiry is successfully sent to our department. We'll come back to you soon.
					</div>
					<a href="#" id="contactform"></a>
					
				</div>
			</div>
			<div class="hideOnSuccess">
				
				<div class="grid-row margin-b">
					<div class="full ">
						<textarea name="inquiry" cols="50" rows="3" id="freeform_inquiry" class="" placeholder="Your inquiry..." ></textarea>
					</div>
				</div>
				<div class="grid-row margin-b">
					<div class="third ">
						

						<input type="text" name="name" value="" id="freeform_name" maxlength="150" class="" placeholder="Name"  />
					</div>
					<div class="third ">
						<input type="text" name="email" value="" id="freeform_email" maxlength="150" class="" placeholder="Email"  />
					</div>
					<div class="third align-right">
						<button class="button primary small" type="submit">Send</button>
					</div>
				</div>
			</div><div style="position: absolute !important; top: -10000px !important; left: -10000px !important; "><input type="text" id="snapp_ivRax" name="snapp_ivRax" value="yAOEufr" /></div>
<script type="text/javascript">document.getElementById("snapp_ivRax").value = "KZEWmFJ";</script>
</form>
	 


	</div>
</section>

</main>
{% include footer.html %}