---
title: 'Colect #1 Sales App & B2B eCommerce solution for Fashion'
description: Colect provided b2b sales & e-commerce tools for anyone in fashion, footwear, sportswear, body-fashion and accessoires. The Colect sales app is an easy Ipad app for order capturing, digital lookbooks and custom linesheets. The Colect b2b webstore is a B2B e-commerce solution for fashion.
front: 'yes'
---

{% include header.html %} 


<main>
			
<section class="home-hero" >

	<video loop="" muted="" autoplay="" poster="" class="fullscreen-bg-video" style="    position: absolute;
    
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-58%);
    -ms-transform: translate(-50%,-58%);
    transform: translate(-50%,-38%);"> <source src="https://ak5.picdn.net/shutterstock/videos/26659735/preview/stock-footage-cyclist-man-walking-on-bridge-with-fixed-gear-sport-bike-in-sunny-day.mp4" type="video/mp4"></video>

	<div class="hero-content block">
		<div class="grid-wrap" style="    background-color: rgba(51, 49, 49, 0.9); padding: 1.5rem;">
			<h1 class="hero-title c-light mini-heading">Showcase and sell collections the modern way</h1>

		

			<a class="button primary scroll-video" href="#">See how it works</a>


				<!--0<a href="https://www.getdrip.com/forms/495136430/submissions/new" class="button inverted white" data-drip-show-form="495136430">Learn more</a>-->

		</div><!-- /.grid-wrap -->
	</div><!-- /.hero-content -->
</section>
				






<section class="mt-5">
	<div class="container">

		<div class="section-header">
			<h2>Powerful alone. Better together.</h2>
			<p> Present your collections in the best-in-class digital experience and take your sales to the next level with our platform for fashion wholesale.</p>
		</div>

		<div class="card-deck mb-3 mt-5 text-center">

  		
        <div class="card mb-4 shadow-sm">
        	<div class="card-header">
        	<img src="/assets/img/ipadwit.png" alt="ice cream office building" style="max-width:100%;" class="my-3"/>
        
          	
            <h2 class="my-0 font-weight-normal">Sales App</h2>
            
			
          </div>
          <div class="card-body">
            <p>Present digital style- and order books and assortments with the ability to place order directly into your backoffice ERP system</p>
            <hr>

            <h1 class="card-title pricing-card-title">Popular Features:</h1>

            <ul class="list-unstyled mt-3 mb-4">
              <li>Digital Lookbook & Catalog</li>
			  <li>Offline order taking</li>
			  <li>tbd</li>
					
            </ul>

            <button type="button" class="btn btn-lg btn-block btn-primary drift-open-chat button-teal">Learn More</button>

          </div>
        </div>

        <div class="card mb-4 shadow-sm">
        	<div class="card-header">
        	<img src="/assets/img/imacscreen.jpg" alt="ice cream office building" style="max-width:100%;" class="my-3"/>
        
          	
            <h2 class="my-0 font-weight-normal">B2B Webstore</h2>
            
			
          </div>
          <div class="card-body">
            
                        <button type="button" class="btn btn-lg btn-block btn-primary drift-open-chat button-teal">Get started</button>

          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
          	<img src="/assets/img/showroom.jpg" alt="ice cream office building" style="max-width:100%;" class="my-3"/>
            <h2 class="my-0 font-weight-normal">Digital Showroom</h2>
          </div>
          <div class="card-body">
            
           
            <button type="button" class="btn btn-lg btn-block btn-primary drift-open-chat button-teal">Contact us</button>
          </div>
        </div>
      </div>


		
	

		</div>

</section>



 





 
	<!-- Contact unit -->
<section class="block bg-white " id="our-apps" style="margin-top:7rem;">
	<div class="grid-wrap vertical-list">
		<div class="section-header">
			<h2>The platform of choice in fashion, powers over 300 brands</h2>
			<p> Present your collections in the best-in-class digital experience and take your sales to the next level with our platform for fashion wholesale.</p>
		</div>

		<div class="grid-row last">
			<div class="grid-row ">
				<div class="half" style="padding-left: 40px;">
					

					<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" style="    box-shadow: 24px 36px 45px -24px rgba(50,50,50,0.57);">
					  <div class="carousel-inner">
					    
					    <div class="carousel-item">
					      <img class="d-block w-100 responsive" src="/assets/img/refs/puma.jpg" alt="Second slide" >
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100 responsive" src="/assets/img/refs/asics.jpg" alt="Second slide" >
					    </div>
					    <div class="carousel-item active">
					      <img class="d-block w-100 responsive" src="/assets/img/refs/bjornborg.jpg" alt="First slide" >
					    </div>
					    
					  </div>

					</div>

					
				</div>
				<div class="half" style="padding-left: 40px;">

					<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" style="    box-shadow: 24px 36px 45px -24px rgba(50,50,50,0.57);">
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					      <img class="d-block w-100 responsive" src="/assets/img/refs/scotch.jpg" alt="First slide" >
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100 responsive" src="/assets/img/refs/pme.jpg" alt="Second slide" >
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100 responsive" src="/assets/img/refs/triompf.jpg" alt="Second slide" >
					    </div>
					    
					    </div>
					  </div>

					</div>


				
					
				</div>
			</div><!-- /.grid-row -->

			<div class="grid-row">
			<div class="align-center">
				<a href="/reviews" class="button inverted">reviews and testimonials</a>
			</div>
		</div>


		</div><!-- /.grid-row -->

	</div><!-- /.grid-wrap -->



	

</section>
 



 
		<!-- Achievements unit -->
<section class="block bg-light " id="how-it-works">
	<div class="grid-wrap align-center">
	

		<div class="grid-row">
			<div class="section-header" style="margin-bottom: 0;">

				<h2>The platform of choice in fashion</h2>
			</div>


	

			<div class="fourth">
				

				<p  class="kerngetal">300</p> <p>We serve over 300 fashion brands around the globe</p>
			</div><div class="fourth">
				

				<p class="kerngetal">9.000</p><p>Over 9000 users trust our system every day with their business</p>
			</div><div class="fourth">
				

				<p class="kerngetal">50.000</p><p>Over 50k orders are processed through the Colect system every month</p>
			</div><div class="fourth">
				

				<p class="kerngetal">$2.9bn</p><p>Nearly $3 billion in retail value is transacted through Colect yearly</p>
			</div>
		</div><!-- /.grid-row -->

		<!-- More button -->
		

	</div><!-- /.grid-wrap -->
</section>

 







 
	<!-- Achievements unit -->
<section class="block bg-dark ">
	<div class="grid-wrap">
		<h2 class="section-title align-center c-light">Try a Free Demo Now</h2>


		<!-- More button -->
		
		<div class="align-center">
			<a href="signup" class="button primary">Get the demo</a>
		</div>
		<div class="align-center">
		<p class="c-light">(Not Ready? No problem, <a href="/product" style="color: #cc3300;">explore all the Colect features here</a>)</p>
		</div>
		

	</div><!-- /.grid-wrap -->
</section>


</main>


<!-- scroll down scripts -->
<script type="text/javascript">
 $(function() {
    $('.scroll-video').click (function() {
      $('html, body').animate({scrollTop: $('section.video').offset().top }, 'slow');
      return false;
    });
  });
</script>

		{% include footer.html %}