---
title: 'Colect #1 Sales App & B2B eCommerce solution for Fashion'
description: Colect provided b2b sales & e-commerce tools for anyone in fashion, footwear, sportswear, body-fashion and accessoires. The Colect sales app is an easy Ipad app for order capturing, digital lookbooks and custom linesheets. The Colect b2b webstore is a B2B e-commerce solution for fashion.
front: 'yes'
---

{% include header.html %} 


<main>
			
<section class="home-hero" >

	<video loop="" muted="" autoplay="" poster="" class="fullscreen-bg-video" style="    position: absolute;
    
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-58%);
    -ms-transform: translate(-50%,-58%);
    transform: translate(-50%,-38%);"> <source src="https://ak1.picdn.net/shutterstock/videos/1006856401/preview/stock-footage-female-models-walk-the-runway-in-different-dresses-during-a-fashion-show-fashion-catwalk-event.mp4" type="video/mp4"></video>

	<div class="hero-content block">
		<div class="grid-wrap">
			<h1 class="hero-title c-light">Showcase and sell collections the modern way</h1>

			<p class="hero-text c-light">#1 mobile sales and B2B eCommerce platform that helps brands grow</p>

			<a class="button primary scroll-video" href="#">See how it works</a>


				<!--0<a href="https://www.getdrip.com/forms/495136430/submissions/new" class="button inverted white" data-drip-show-form="495136430">Learn more</a>-->

		</div><!-- /.grid-wrap -->
	</div><!-- /.hero-content -->
</section>
				


<section class="block bg-white ">
	<div class="grid-wrap">
		<div class="section-header">
			<h2>The platform of choice in fashion, powers over 300 brands </h2>
		</div>

		<div class="align-center clear">

			<div class="js-clientlogos">
				
				<div class="slick-slide">
		<div class="client-logo">
			<img src="files/gallery/logo/skechers.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/lecoq.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/dailysports.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/aqa.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/peakperformance.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/kudibal.png" class="responsive">
		</div>
	</div><div class="slick-slide">
		<div class="client-logo">
			<img src="files/gallery/logo/tenson.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/charliechoe.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/yellowcab.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/efvaattling.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/parkeronen.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/lotto.png" class="responsive">
		</div>
	</div><div class="slick-slide">
		<div class="client-logo">
			<img src="files/gallery/logo/fila.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/craft.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/oilily.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/cavallaro.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/denham.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/plusfine.png" class="responsive">
		</div>
	</div><div class="slick-slide">
		<div class="client-logo">
			<img src="files/gallery/logo/skechers.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/lecoq.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/dailysports.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/aqa.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/peakperformance.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/kudibal.png" class="responsive">
		</div>
	</div><div class="slick-slide">
		<div class="client-logo">
			<img src="files/gallery/logo/tenson.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/charliechoe.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/yellowcab.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/efvaattling.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/parkeronen.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/logo/lotto.png" class="responsive">
		</div>
	</div>
				
			</div>
		</div>
		<!-- More button -->
		<div class="grid-row">
			<div class="align-center">
				<a href="/reviews" class="button inverted">reviews and testimonials</a>
			</div>
		</div>


	</div><!-- /.grid-wrap -->
</section>




 




<section class="block bg-light video">
	<div class="grid-wrap">

		<div class="section-header">

		<h2 >See how Colect works</h2>
		
		</div>

		<section class="video-player">
			<div class="iframe-holder">

					<!-- Placeholder (still from video) -->
					<img src="https://img.youtube.com/vi/rNwxa7asavU/maxresdefault.jpg" class="still-image responsive">

					<!-- Video container (don't remove this!) -->
					<div class="js-video-container" data-current-video=""></div>

					<!-- Video trigger (will load the Youtube video in the data-video-url tag -->
					<a href="#" class="video-link-trigger" data-video-url="rNwxa7asavU">
						<span class="link-title"></span>
					</a>

				</div><!-- /.end iframe-holder -->

				<!-- Video thumbnails -->


		</section><!-- /.video-player -->

				<!-- More button -->
		
		<div class="grid-row">&nbsp;</div>
		<div class="grid-row">
			<div class="align-center">
				<a href="/product" class="button inverted">Discover all features</a>
			</div>
		</div>
		

	</div><!-- /.grid-wrap -->
</section>

 



 
	<!-- Contact unit -->
<section class="block bg-white " id="our-apps">
	<div class="grid-wrap vertical-list">
		<div class="section-header">
			<h2>Transform your wholesale</h2>
			<p> Present your collections in the best-in-class digital experience and take your sales to the next level with our platform for fashion wholesale.</p>
		</div>

		<div class="grid-row last">
			<div class="grid-row ">
				<div class="half" style="padding-left: 40px;">
					<img src="/assets/img/refs/bjornborg.jpg" class="responsive" style="    box-shadow: 24px 36px 45px -24px rgba(50,50,50,0.57);">

					
				</div>
				<div class="half" style="padding-left: 40px;">
					<img src="/assets/img/refs/scotch.jpg" class="responsive" style="    box-shadow: 24px 36px 45px -24px rgba(50,50,50,0.57);">
					
				</div>
			</div><!-- /.grid-row --><div class="grid-row ">
				<div class="half" style="padding-right: 40px;">
					<h3>Colect B2B webshop</h3>
					<p>Invite your retailers to re-order online with a customizable ecommerce webstore designed for fashion brands. </p><div></div><a href="/product#b2b-webshop" class="button">Learn More</a>
				</div>
				<div class="half">
					
					<img src="assets/img/b2b-webstore.png" class="responsive" style="    box-shadow: 24px 36px 45px -24px rgba(50,50,50,0.57);">
				</div>
			</div><!-- /.grid-row --><div class="grid-row last">
				<div class="half">
					<img src="assets/img/cam.png" class="responsive" style="    box-shadow: 24px 36px 45px -24px rgba(50,50,50,0.57);">
				</div>
				<div class="half" style="padding-left: 40px;">
					<h3>Admin Dashboard</h3>
					<p>Your dashboard for adding products, managing price lists, customers, and orders as well as seeing reports and communicating with your customers regarding their orders.</p><div></div><a href="/product#marketing" class="button">Learn More</a>
					<div></div>
					
				</div>
			</div><!-- /.grid-row -->
		</div><!-- /.grid-row -->

	</div><!-- /.grid-wrap -->



	

</section>
 



 
		<!-- Achievements unit -->
<section class="block bg-light " id="how-it-works">
	<div class="grid-wrap align-center">
	

		<div class="grid-row">
			<div class="section-header" style="margin-bottom: 0;">

				<h2>The platform of choice in fashion</h2>
			</div>


	

			<div class="fourth">
				

				<p  class="kerngetal">300</p> <p>We serve over 300 fashion brands around the globe</p>
			</div><div class="fourth">
				

				<p class="kerngetal">9.000</p><p>Over 9000 users trust our system every day with their business</p>
			</div><div class="fourth">
				

				<p class="kerngetal">50.000</p><p>Over 50k orders are processed through the Colect system every month</p>
			</div><div class="fourth">
				

				<p class="kerngetal">$2.9bn</p><p>Nearly $3 billion in retail value is transacted through Colect yearly</p>
			</div>
		</div><!-- /.grid-row -->

		<!-- More button -->
		

	</div><!-- /.grid-wrap -->
</section>

 







 
	<!-- Achievements unit -->
<section class="block bg-dark ">
	<div class="grid-wrap">
		<h2 class="section-title align-center c-light">Try a Free Demo Now</h2>


		<!-- More button -->
		
		<div class="align-center">
			<a href="signup" class="button primary">Get the demo</a>
		</div>
		<div class="align-center">
		<p class="c-light">(Not Ready? No problem, <a href="/product" style="color: #cc3300;">explore all the Colect features here</a>)</p>
		</div>
		

	</div><!-- /.grid-wrap -->
</section>


</main>


<!-- scroll down scripts -->
<script type="text/javascript">
 $(function() {
    $('.scroll-video').click (function() {
      $('html, body').animate({scrollTop: $('section.video').offset().top }, 'slow');
      return false;
    });
  });
</script>

		{% include footer.html %}