   /* MATERIAL DESIGN */

   .material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

li.tab-link.current .md-inactive {
    color: #cc3300;
    vertical-align: middle;
}

.collections i.material-icons {
    float: left;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    vertical-align: middle;
}
/* MEDIA QUERIES START */

@media screen and (max-width: 700px) {

    .productpage .productpage_menu li {
        width: 33%;
        padding: 4px 0px 4px 0px;
        float: left;
    }
}

/* MEDIA QUERIES END */
/* BASIC PAGE START */

.wrap-content {
    max-width: 1200px;
    margin: 0 auto;
}

a#collection_button:active {
    color: red;
}
/* BASIC PAGE END */
/* MENU START */

.productpage .productpage_menu a:hover {
    color: #fff;
}

.productpage_menu {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 9999;
    display: none;
    text-align: center;
    background: #000;
    padding: 7px 0;
    transition: padding 0.5s;
    left: 0;
}

.productpage .productpage_menu ul.nav {
    display: table-row;
    margin: 0;
    padding: 0;
}

.productpage .productpage_menu li {
    color: #e6e6e6;
    font-size: 17px;
    list-style: none;
    display: table-cell;
}

.productpage .productpage_menu a {
    text-decoration: none;
    padding: 10px 15px;
}
/* MENU END */
/* CUSTOMER SECTION CSS */

.customers li {
    display: list-item !important;
    list-style-type: circle;
    padding: 5px 0px 5px 0px;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 26px;
}

.customers .first {
    float: left;
    max-width: max-content !important;
}

.customers .firstimage {
    text-align: center;
}

.customers .second {
    float: left;
    max-width: max-content !important;
    box-shadow: 0px 0px 0px 0px !important;
}

.customers .secondimage {
    float: right;
    text-align: center;
}
/* API SECTION START */

.api-left {
    text-align: -webkit-left;
    text-align: -moz-left;
    text-align: -o-left;
    text-align: -ms-left;
}

.api-right {
    text-align: -webkit-right;
    text-align: -moz-right;
    text-align: -o-right;
    text-align: -ms-right;
}
/* API SECTION END */
/* License SECTION START */

.license p {
    font-size: 15px;
}
/* License SECTION END */

/* Footer SECTION START */
.wrap-content.footer {
    max-width: inherit;
}

/* Footer SECTION END */

/* Anchor settings START */

#collections {
    display: block;
    height: 40px;
    margin-top: 40px;
    visibility: hidden;
}

#orders {
    display: block;
    height: 40px;
    margin-top: 40px;
    visibility: hidden;
}

#customers {
    display: block;
    height: 40px;
    margin-top: 40px;
    visibility: hidden;
}

#integration {
    display: block;
    height: 40px;
    margin-top: 40px;
    visibility: hidden;
}

#license {
    display: block;
    visibility: hidden;
}
/* Anchor settings END */
/* BASIC W3 editings START */

.w3-center {
    text-align: center!important;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 15px;
}

h3.w3-center {
    font-size: 30px;
}

.w3-container.w3-white {
    text-align: left;
    padding: 10px 0px 0px 10px;
    max-width: 450px;
}

.w3-container.w3-white li {
    padding: 5px 0px 5px 0px;
    display: block;
}

.w3-row-padding {
    font-size: 15px;
}

img.w3-hover-opacity {
    max-width: 450px;
    border-radius: 13px;
}

.w3-black,
.w3-hover-black {
    color: #fff!important;
    background-color: #cc3300 !important;
}

a.w3-button.w3-black:hover {
    background: #ff4000 !important;
    color: #fff !important;
    transition: background-color 0.5s ease;
}
/* BASIC W3 editings END */
/* Section - Parallax START */
/**************************/

#parallax-head .parallax-one {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(https://marketplacecdn.yoyogames.com/images/assets/1874/screenshots/5146_original.png?1430761602);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    cursor: pointer;
}

.parallax-one img.w3-hover-opacity {
    max-width: 170px !important;
    width: 200px;
    display: block;
    margin: 0 auto;
}

.parallax-one .w3-container.w3-white {
    background: none !important;
}
/* Section - Parallax END */
/* TABS START */

.wrap-content.collections {
    max-width: 1200;
}

.wrap-content.orders {
    max-width: 1200;
}

ul.tabs-collections {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs-orders {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs-collections p {
    display: table-row;
    line-height: 26px;
}

ul.tabs-orders p {
    display: table-row;
    line-height: 26px;
}


ul.tabs-collections li {
    background: none;
    color: #000;
    cursor: pointer;
    padding: 0px 7px 0px 7px;
}

ul.tabs-orders li {
    background: none;
    color: #000;
    cursor: pointer;
    padding: 0px 7px 0px 7px;
}

ul.tabs-collections li.current {
    color: #000;
}

ul.tabs-orders li.current {
    color: #000;
}

.tab-content-collections {
    display: none;
    padding: 15px;
}

.tab-content-orders {
    display: none;
    padding: 15px;
}


.tab-content-collections.current {
    display: inherit;
}

.tab-content-orders.current {
    display: inherit;
}
/* TABS END */


/* standard css from website */
section.home-hero {
    display: none;
}