---
title: Product page
Image: "/files/visuals/bg/unsplash-clark-street-mercantile-33919.jpg"
---

{% include header.html %}
<link rel="stylesheet" href="/w3.css" />
<link rel="stylesheet" href="/productpage.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<main>
        <section class="home-hero" style="background: url('{{ page.Image}}') center center no-repeat fixed; -webkit-background-size: cover; background-size: cover;">
            <div class="hero-content block">
                <div class="grid-wrap">
                    <h1 class="hero-title c-light">{{ page.title}}</h1>
                </div>
                <!-- /.grid-wrap -->
            </div>
            <!-- /.hero-content -->
        </section>
    
    
        <div class="productpage">
            <div class="productpage_menu" id="product_menu">
                <ul class="nav">
                    <li>
                        <a href="#collections" id="collections_button">collections</a>
                    </li>
                    <li>
                        <a href="#orders" id="orders_button">orders</a>
                    </li>
                    <li>
                        <a href="#customers" id="customers_button">customers</a>
                    </li>
                    <li>
                        <a href="#integration" id="integration_button">integration</a>
                    </li>
                    <li>
                        <a href="#license" id="license_button">license</a>
                    </li>
                </ul>
            </div>
    
            <div id="parallax-head">
                    <section>
                        <div class="parallax-one">
                            <div class="wrap-content">
                                    <h1 class="w3-center">The leading app in Fashion</h1>
                                    <p class="w3-center w3-large">The polished user experience of mobile devices integrates with your back-office. Collections and stock info are always available anywhere, offline. Submit orders, check order history, quickly find items, scan barcodes and view matching products for upsell.</p>
                            </div>
        
                        </div>
                    </section>
                </div>
    
            <!-- Collection Section -->
            <a id="collections"></a>
            <div class="wrap-content collections">
                <div class="w3-row">
                        <div class="w3-container w3-half">
                                <h1 class="w3-center">Present your collection</h1>
                                <p class="w3-center w3-large">Showcase your collections in the best-in-class digital experience for fashion. Reduce the reliance on sample collections
                                    and reduce both sample production and printing costs.</p>
                            <div id="tab-1" class="tab-content-collections current">
                                <img src="https://fashiontrade.com/wp-content/uploads/2017/11/reach-out-640x427.png" alt="catalog" style="width:100%">
                            </div>
                            <div id="tab-2" class="tab-content-collections">
                                <img src="https://fashiontrade.com/wp-content/uploads/2017/11/map-640x427.png" alt="catalog" style="width:100%">
                            </div>
                            <div id="tab-3" class="tab-content-collections">
                                <img src="https://fashiontrade.com/wp-content/uploads/2017/11/2b-640x427.png" alt="catalog" style="width:100%">
                            </div>
                        </div>
                    <div class="w3-container w3-half">
                        <ul class="tabs-collections">
                            <li class="tab-link current" data-tab-collections="tab-1">
                                <i class="material-icons md-dark md-inactive">chevron_right</i>
    
                                <b>State-of-the-art cata­log</b>
    
                                <p>Browse styles by categories, materials and looks</p>
                                <p>Always available: online and offline, browse through customers and catalog offline</p>
                                <p>You can view high resolution collection images, filter and search items, view stock levels and
                                    customer prices
                                </p>
                                <p>Connect to all your information in your backoffice system even without a connection</p>
    
    
    
                            </li>
                            <br>
                            <li class="tab-link" data-tab-collections="tab-2">
                                <i class="material-icons md-dark md-inactive">chevron_right</i>
    
                                <b>State-of-the-art digital lookbook</b>
    
                                <p>You always have your complete catalog with you</p>
                                <p>Promote new styles and show collection lookbooks</p>
                                <p>Shop the look: Link items to lookbook images to get more orders</p>
                                <p>Add digital sticky notes anywhere in you lookbook or catalog</p>
    
                            </li>
                            <br>
                            <li class="tab-link" data-tab-collections="tab-3">
                                <i class="material-icons md-dark md-inactive">chevron_right</i>
    
                                <b>Personalised catalog</b>
    
                                <p>Visual line plan</p>
                                <p>Generate a stylebook specifically for one customer, add all the preferred styles or currently
                                    ordered styles
                                </p>
                                <p>Generate a PDF, based on your own customised template</p>
                                <p>Export data and line sheets in various output formats like CSV, Excel, PDF and other</p>
    
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
    
            <!-- Order Section -->
            <a id="orders"></a>
            <div class="wrap-content orders">
                <div class="w3-row">
                    <div class="w3-container w3-half">
                        <ul class="tabs-orders">
                            <li class="tab-link current" data-tab-orders="tab-10">
                                <i class="material-icons md-dark md-inactive">chevron_right</i>
                                        <b>Ipad app for sales reps</b>
                                   
                                        <p>Keep sales reps up to date with updated product info, realtime stock levels and new
                                            styles
                                        </p>
                                        <p>Capture orders offline</p>
                                        <p>Manage and place orders for multiple customers</p>
                                        <p>Shorten sales with: order templates; barcode scanning & digital signing</p>
                                        <p>Place orders directly into your own enterprise back office system</p>
                                        <p>Future stock (ATP) information</p>
                                        <p>Export order links: so retailer kan oder later via webshop</p>
                            </li>
                            <br>
                            <li class="tab-link" data-tab-orders="tab-20">
                                <i class="material-icons md-dark md-inactive">chevron_right</i>     
                                        <b>Customer order analytics</b>
                                    
                                        <p>Analyse previous seasons, pre-orders, re-order, cancellations and returns</p>
                                        <p>Compare various seasons to detect trends and create a balanced sell-in for your customer</p>
                                        <p>Allows users to analyse historical sales numbers of each customer</p>
                                        <p>Allow sales to view and update budgets send from your ERP backoffice system</p>                          
                            </li>
                            <br>
                            <li class="tab-link" data-tab-orders="tab-30">
                                <i class="material-icons md-dark md-inactive">chevron_right</i>
                                        <b>Central management for sales admins</b>
                            
                                        <p>Monitor sales and update budget forecasts in real time</p>
                                        <p>Review, edit and confirm orders</p>
                                        <p>Send confirmations by email</p>
                                        <p>budget en forecasting tool</p>       
                            </li>
                        </ul>
                    </div>
                    <div class="w3-container w3-half">
                            <h1 class="w3-center">Manage your orders</h1>
                            <p class="w3-center w3-large">Take your sales to the next level, accelerate your sales with our platform for fashion wholesale.</p>
                            <div id="tab-10" class="tab-content-orders current">
                                <img src="https://fashiontrade.com/wp-content/uploads/2017/11/reach-out-640x427.png" alt="catalog" style="width:100%">
                            </div>
                            <div id="tab-20" class="tab-content-orders">
                                <img src="https://fashiontrade.com/wp-content/uploads/2017/11/map-640x427.png" alt="catalog" style="width:100%">
                            </div>
                            <div id="tab-30" class="tab-content-orders">
                                <img src="https://fashiontrade.com/wp-content/uploads/2017/11/2b-640x427.png" alt="catalog" style="width:100%">
                            </div>
                        </div>
                </div>
            </div>
    
    
            <!-- Customer Section -->
            <a id="customers"> </a>
            <div class="wrap-content">
                <div class="customers">
                    <h1 class="w3-center">Activate your Customers</h1>
                    <p class="w3-center w3-large">Empower and re-engage your customers to increase b2b order volume. Promote your collections with B2B marketing.</p>
                    <div class="w3-row-padding">
                        <div class="w3-half w3-container w3-margin-bottom firstimage">
                            <img src="https://assets.apptitude.nl/Apps4Fashion/webstore_v2/APPTITUDE_DEMO/images/colectwebsite/screenshotcustomer.png"
                                alt="catalog" style="width:100%" class="w3-hover-opacity">
                        </div>
                        <div class="w3-half 3-container w3-white first">
                            <p>
                                <b>Self service portal for B2B customers</b>
                            </p>
                            <p>
                                Enables B2B customers to:
                                <li>Browse assortments</li>
                                <li>See realtime stock availability</li>
                                <li>Place orders</li>
                                <li>View order history</li>
                                <li>Order status and invoices</li>
                                <li>Download images and other assets</li>
                                <li>Allow your retail customers to place return orders</li>
                                <li>Lightens the load for your customer service representatives</li>
                                <li>Increases the availability of your service to 24x7</li>
                                <li>Export order links: orders made in Colect iPad app for sales reps can be finalised in the webshop</li>
                            </p>
                        </div>
                        <div class="w3-half w3-container w3-margin-bottom secondimage">
                            <img src="https://assets.apptitude.nl/Apps4Fashion/webstore_v2/APPTITUDE_DEMO/images/colectwebsite/marketingautomation.png"
                                alt="lookbook" style="width:100%" class="w3-hover-opacity">
                        </div>
                        <div class="w3-half w3-container w3-white second">
                            <p>
                                <b>Marketing automation</b>
                            </p>
                            <p>
                                <li>Continuous re-engagement of customers to increase b2b order volume</li>
                                <li>Promote your collections</li>
                                <li>Setup automated email & ad workflows to re-engage users</li>
                                <li>Add brand customized templates</li>
                                <li>Automated triggering for marketing flows</li>
                                <li>Send automated personalised e-mails from sales reps</li>
                                <li>Automatically monitor user behavior and act accordingly</li>
                                <li>Win-Back Low Activity Customers</li>
                                <li>Abandoned Shopping Cart</li>
                                <li>Product Back on Stock Notification</li>
                                <li>Prospect Onboarding</li>
                                <li>New Collection Available & best sellers</li>
                                <li>Customer Loyalty Program</li>
                                <li>Increase number of B2B orders by at least 3-6%</li>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- ERP - API Integration Section -->
            <a id="integration"></a>
            <div class="wrap-content">
                <h1 class="w3-center">API Integration</h1>
                <p class="w3-center w3-large">There is an easy to use API available if you want to create the connection yourself.</p>
                <div class="w3-container w3-light-grey" style="padding:128px 16px">
                    <div class="w3-row-padding">
                        <div class="w3-col m6">
                            <h3>Integrate Colect with your information system</h3>
                            <p>Connecting Colect to your current ERP, CRM, PLM or PIM system is simple. Connecting directly to Colect
                                is supported by many different systems to facilitate automated data exchange.</p>
                            <p>
                                <strong>ERP:</strong> SAP, Microsoft Dynamics AX, Microsoft Dynamics NAV, K3 Pebblestone Fashion, Oracle,
                                Infor M3, ACA Wholesale, Intex,Diatex, Garp, e-conomic, Reflecta XL-ENZ, SoftWear, Trimit, C5,
                                Exact, itSuitsFashion, StyleMan, Apparel21, Unit4, AS400.
                                <br />
                                <br />
                                <strong>PLM/PIM:</strong> Bynder, InRiver, Centric8.
                                <br />
                                <br />
                                <strong>CRM:</strong> SalesForce.com, Microsoft Dynamics CRM.
                            </p>
                            <p>
                                <a href="#" class="w3-button w3-black">View Our Works</a>
                            </p>
                        </div>
                        <div class="w3-col m6">
                            <img class="w3-image w3-round-large" src="https://assets.apptitude.nl/Apps4Fashion/webstore_v2/APPTITUDE_DEMO/images/colectwebsite/screenshot10.png"
                                alt="erp" width="700" height="394">
                        </div>
                    </div>
                </div>
    
                <div class="w3-row-padding" style="padding:100px 16px">
                    <div class="w3-half w3-container w3-margin-bottom api-left">
                        <img src="https://assets.apptitude.nl/Apps4Fashion/webstore_v2/APPTITUDE_DEMO/images/colectwebsite/screenshot5.png" alt="catalog"
                            style="width:100%" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p>
                                <b>Colect API Integration</b>
                            </p>
                            <p>
                                <li>Easy to use API available if you want to create the connection yourself. For creating new integrations
                                    we advise you to use our Colect WebServices API. Our API has full support for synchronising
                                    products, customers, access rules, stock-levels, prices and more. Orders can either be requested
                                    or pushed back directly to your backoffice system. We have a full set of documentation available;
                                    please contact us to gain access to our API documentation.</li>
                            </p>
                        </div>
                    </div>
                    <div class="w3-half w3-container w3-margin-bottom api-right">
                        <img src="https://assets.apptitude.nl/Apps4Fashion/webstore_v2/APPTITUDE_DEMO/images/colectwebsite/screenshot6.png" alt="lookbook"
                            style="width:100%" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p>
                                <b>CSV/XML Integration</b>
                            </p>
                            <p>
                                <li>Support for a number of file based integrations with automatic scheduling. Colect also supports
                                    a number of file based integrations (either XML or CSV) through a secure FTP interface. These
                                    can be scheduled to check for data-updates at regular time intervals.</li>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- License Section -->
            <a id="license"></a>
            <div class="wrap-content">
                <h1 class="w3-center">The Colect Licensing Model</h1>
                <div class="w3-container w3-center license">
                    <p>
                        Is based on flexible monthly or yearly subscriptions. Accessible both for brands with a few salespeople as well as for worldwide
                        brands with hundreds of users without huge up-front investments. Learn more:
                        <a href="http://colect.io/news/detail/colect-licensing-model">http://colect.io/news/detail/colect-licensing-model</a>
                    </p>
                </div>
            </div>
    
        </div>
    
        <div class="wrap-content footer">
                <section class="block bg-dark ">
                        <div class="grid-wrap">
                            <h2 class="section-title align-center c-light">Schedule your Demo Now</h2>
                    
                    
                            <!-- More button -->
                            
                            <div class="align-center">
                                <a href="signup" class="button primary">SCHEDULE A DEMO</a>
                            </div>
                            <div class="align-center">
                            <p class="c-light">(Not Ready? No problem, <a href="/product" style="color: #FF695E;">browse all the Colect features here</a>)</p>
                            </div>
                            
                    
                        </div><!-- /.grid-wrap -->
                    </section>
        </div>
    
    </main>

    <script>
            $(document).ready(function () {
                // Add smooth scrolling to all links
                $("a").on('click', function (event) {
    
                    if (this.hash !== "") {
                        // Prevent default anchor click behavior
                        event.preventDefault();
                        var hash = this.hash;
    
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 800, function () {
    
                            window.location.hash = hash;
                        });
                    }
                });
            });
        </script>
    
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function () {
                    $(window).scroll(function () {
                        if ($(this).scrollTop() > 150) {
                            $('.productpage_menu').fadeIn(500).css('display', 'table');
                        } else {
                            $('.productpage_menu').css('visibility', 'hidden');
                        }
                    });
                });
            })(jQuery);
        </script>


{% include footer.html %}