<!DOCTYPE html>
<!--[if IE 8 ]><html dir="ltr" lang="en-US" class="ie8"> <![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en-US" class="ie9"> <![endif]-->
<html class="no-js ">		
	
	<head>

		{% if page.title %}
		    <title>{{ page.title }}</title>
		  {% endif %}
		
		<meta name='description' content='{{ page.description}}' />
		<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
		

		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="format-detection" content="telephone=no">
		<link href="{{ "assets/css/apptitude_apps4fashion-v=6.css" | absolute_url }}" rel="stylesheet" media="screen">

		<!-- bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,100,500" rel="stylesheet" type="text/css">

		<!-- extra css -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>




		<meta charset="utf-8">

		<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/icons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png">
		<link rel="manifest" href="/assets/img/icons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/assets/img/icons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">


		
		


		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-T3T54DX');</script>
		<!-- End Google Tag Manager -->

		
			
		

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!-- DRIFT tag<-->
		<!-- Start of Async Drift Code -->
			<script>
			"use strict";

			!function() {
			  var t = window.driftt = window.drift = window.driftt || [];
			  if (!t.init) {
			    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
			    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
			    t.factory = function(e) {
			      return function() {
			        var n = Array.prototype.slice.call(arguments);
			        return n.unshift(e), t.push(n), t;
			      };
			    }, t.methods.forEach(function(e) {
			      t[e] = t.factory(e);
			    }), t.load = function(t) {
			      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
			      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
			      var i = document.getElementsByTagName("script")[0];
			      i.parentNode.insertBefore(o, i);
			    };
			  }
			}();
			drift.SNIPPET_VERSION = '0.3.1';
			drift.load('fg74zr3a6xb7');
			</script>
			<!-- End of Async Drift Code -->




		<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>-->


		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

		



	</head>

	<body class="no-svg {% if page.front == 'yes' %}homepage{% endif %}" lang="en">

		<header class="" style="background-color: rgba(51, 49, 49, 0.9);">
			<div class="grid-wrap2" style="max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;">

				<a href="/" class="header-logo">
				<img src="https://assets.apptitude.nl/Apps4Fashion/Uploads/EtqyFsqSQ5jcRFGv.png" height="52" alt="Colect logo formerly Apps4fashion">
				</a>

				
				{% if page.landingpage %}
		    		
		  		{% else %}
				<a href="#" class="menu-toggle show-on-small js-menu-toggle">Menu</a>

				{% assign current = page.url | downcase | split: '/' %}
				
				<div style="float: right;"><ul class="header-list hide-on-small" style="color: white;">
				
				<li  {% if current[1] == 'product.html' %}class="active"{% endif %}><a href="{{ "product" | absolute_url }}">Product</a></li>
				<li  {% if current[1] == 'list.html' %}class="active"{% endif %}><a href="{{ "list" | absolute_url }}">Customers</a></li>
				<li  {% if current[1] == 'contact.html' %}class="active"{% endif %}><a href="{{ "contact" | absolute_url }}">Contact</a></li>
				<li><a href="/signup" class="button inverted white">Get free demo</a></li>

				</ul>
				
			</div>

			{% endif %}

			</div>
		</header>


		<!-- Site-wrap, for the slide out menu on < 768 -->
	<div class="site-wrap">